.THIS {
}

.THIS #drop_zone {
        width: 100%;
}

.THIS .slds-carousel__content {
    display: none;
}

.THIS .slds-carousel__autoplay {
    display: none;
}

.THIS .listContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.THIS .listContainer > slds-carousel__indicators {
    display: none
}

.THIS .notVisible {
    display: none;
}

.THIS .visible {
    display: block;
}

.THIS .imgContainer {
    width: 90px; display: flex; flex-direction: column; align-items:center;
}

.THIS .selectedImg {
    border: 1px solid gray;
    border-radius: 8px;
}
