.THIS {
}

.THIS .slds-carousel__indicators {
    display: none
}

.THIS .shoppingCardListItem {
    width: 100%;
    border: 1px solid #D3D3D3;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

.THIS .removed {
    transform: scale(0.001);
    transform-origin: 0 0;
    transition: transform 0.2s;
}

.THIS .pointer {
    cursor: pointer;
}

.THIS .emptyCart {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 1.3rem;
   font-font-weight: bold;
   border: 1px solid #D3D3D3;
   border-radius: 8px;
}

.THIS .quantity {
    font-size: 1rem;
    height: 100%;
    width:50%;
}

.THIS .quantityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
}

.THIS .imgContainer {
   height: 100%;
   width: 20%;
   display: flex;
   flex-direction: row;
}

.THIS.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around
}

.THIS .childContainer {
    width: 50%;
}

.THIS .paymentButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.THIS .overallContainer {
    width: 40%;
    height: 20%;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
}

.THIS .overallPriceContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.THIS .priceContainer {
    font-size: 1.4rem;
    align-self: end;
}

.THIS .price {
    font-weight: bold;
}

.THIS .subtotal {
    font-size: 1.5rem;
    font-weight: bold;
}

.THIS .checkbox {
    transform: scale(1.5);
}