.THIS {
}

.THIS .icon {
    cursor: pointer;
    border: 1px solid black;
    --sds-c-icon-color-background: white;
    --sds-c-icon-color-foreground: black;
    border-radius: 50%;
}

.THIS .favoriteIcon {
    cursor: pointer;
    --sds-c-icon-color-foreground: red;
    border: 1px solid red;
}
