.THIS {
}

.THIS .productDescription {
    color: gray;
    font-size: 1.2rem;
}

.THIS .productName {
    font-size: 1.7rem;
    font-weight: bold;
}

.THIS .productPrice {
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
}

.THIS .crossedOutPrice {
    text-decoration: line-through;
    font-size: 1.8rem;
    font-weight: bold;
    color: gray;
}


.THIS .priceContainer {
    display: flex;
    flex-direction: row;
}

.THIS .productDetailsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 300px;
}

.THIS .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

.THIS.pageContainer {
    display:flex;
    flex-direction: row;
}

.THIS .quantityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 40px;
}

.THIS .pointer {
    cursor: pointer;
}

.THIS .header {
    font-size: 1.3rem;
}

.THIS .description {
    font-size: 1rem;
}

.THIS .addToCartButton {
    animation: wiggle 20s infinite ease-in-out;
    border-radius: 40px;
}

.THIS .overall {
    font-size: 1.2rem;
}

@keyframes wiggle {
  0%   {left:0px;}
  0.5%  {left:10px;}
  1%  {left:-10px;}
  1.5%  {left:10px;}
  2%  {left:-10px;}
  2.5%  {left:10px;}
  3%  {left:-10px;}
  3.5%  {left:10px;}
  4%  {left:-10px;}
  4%, 100%  {left:0px;}
}