.THIS {
}

.THIS .dateInputContainer {
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
}


.THIS .dateContainerLabel {
    font-weight: bold;
}

.THIS .inputsContainer {
    width: 80%;
}

.THIS .discountValueContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.THIS .discountNameContainer {

}

.THIS .inputLabel {
    width: 40%;
}


.THIS .listContainer {
   width: 50%;
   max-height: 280px;
   overflow-y: auto;
}

.THIS .productListElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.THIS .productListElement:hover {
    border: 1px solid gray;
    border-radius: 8px;
}



.THIS .icon {
    cursor: pointer;
}

.THIS.lists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

