.THIS.listContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.THIS .productTile {
    width: 280px;
    cursor: pointer;
}

.THIS .productTile:hover {
    border-style: groove;
    border-radius: 8px;
    border-color: gray;
}

.THIS .slds-carousel__indicators {
    display: none
}

.THIS .productTile:hover .slds-carousel__indicators {
   display: block;
}

.THIS .image {
    position: relative;
    width: 100%;
}

.THIS .productName {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
